<div class="article-comment">
  <blockquote class="comment" id="<%= " comment-show-#{comment.id}" %>">
    <%= simple_format(comment.text) %>
    <footer>
      <%= time_ago_in_words(comment.created_at) %>
      ago by
      <cite><%= comment.author.email %></cite>
    </footer>

    <% if user_signed_in? && current_user.id == comment.author.id %>
    <i class="glyphicon glyphicon-edit comment-edit" value="<%= "#{comment.id}"%>" title="Edit"></i>

    <div class="hidden" id="<%= "comment-#{comment.id}"%>">
      <%= render "comments/form", article: @article, comment: comment %>
    </div>
    <% end %>
  </div>
</blockquote>
