<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-xs-12 form-user">
      <h3 class="text-center">LOGIN</h3>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="form-group">
          <%= f.input :email, required: false, autofocus: true, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :password, required: false, class: "form-control" %>
        </div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
