<div class="col-md-12">
  <%= simple_form_for @article do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %>
      prohibited this article from being saved:</h2>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :attachment, as: :file, label: "Cover" %>
    <% if f.object.attachment? %>
      <%= image_tag f.object.attachment.thumb.url %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.input :tag_names, label: "Tags" %>
  </div>

  <div class="form-group">
    <%= f.input :content, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>
