<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="content-main">

        <% if !params[:search].nil? && @articles.blank? %>
        <!-- true -->
        <h4>There are no articles containing the term
          <span class="text-warning">
             <%= params[:search] %>
          </span>
        </h4>
        <% elsif !params[:tags].nil? && (@articles.nil? || @articles.blank?) %>
        <h4>There are no articles containing the tags:
          <span class="text-warning">
          <%= params[:tags] %>
        </span>
        </h4>
        <% else %>
          <p id="notice" class="hidden"><%= notice %></p>
          <% @articles.each do |article| %>
          <div class="content-main-post">
            <div class="post-image img-reponsive">
              <% if article.attachment? %>
              <img src=" <%= article.attachment %> " alt="">
            <% else %>
              <img src="/uploads/tmp/Cover.jpg" alt="">
              <% end %>
            </div>
            <div class="post-title">
              <h1>
                <%= link_to article.title, article %>
              </h1>
              <p>
                <span>Author:
                  <abbr title="author"><%= article.author.email %></abbr>
                </small>
                <span>
                  <%= article.created_at.strftime('%b %d, %Y') %>
                </span>
                <span>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  <abbr title="views"><%= article.views %>
                    views</abbr>
                </span>
                <span>
                  <% if article.comments.count > 0 %>
                  <abbr title="comments"><%= article.comments.count%>
                    coments</abbr>
                  <% end %>
                </span>
              </p>
            </div>
            <div class="post-intro">
              <p><%= article.content[0..300].html_safe %></p>
              <%= link_to 'Continue Reading', article, class: "btn btn-default" %>
            </div>

          </div>
          <% end %>
          <br>
          <% end %>
          <%= will_paginate @articles %>
        </div>
      </div>

      <div class="col-md-4 content-right">
        <div class="content-main">
          <div class="recent-post popular-post">
            <h3>RECENT POST</h3>
            <%= render Article.get_recent_posts %>
          </div>

          <div class="popular-post">
            <h3>POPULAR</h3>
            <%= render Article.get_top_popular_posts %>
          </div>

          <div class="all-tags">
            <h3>TAGS</h3>
            <%= render Tag.all %>
          </div>
        </div>
      </div>

    </div>
  </div>
