<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="content-main">
        <p id="notice" class="hidden"><%= notice %></p>

        <div class="article-header title article-content">
          <h1>
            <%= @article.title %>
          </h1>
        </div>

        <div class="article-content">
          <p>
            <div class="img-reponsive"></div>
            <p><%= @article.content.html_safe %></p>
          </p>
        </div>

        <div class="article-info">
          <!-- render tag partial  -->
          <% if @article.tags.any? %>
          <p>
            <span class="label label-primary">TAG</span>:
            <%= render @article.tags %>
          </p>
          <% end %>

          <small>
            View all posts by:
            <%= link_to @article.author.email,
                        articles_path + "?author=#{@article.author.id}",
                        title: "Post by #{@article.author.email}",
                        rel: "author" %>
          </small>
        </div>

        <div class="coment">
          <div class="comment-display">
            <div class="comment">
              <% if @article.comments.persisted.any? %>
              <%= render @article.comments.persisted %>
            <% else %>
              <p>There are no comments for this article</p>
              <!-- true -->
              <% end %>
            </div>
          </div>

          <div class="coment-form">
            <!-- Form to create a comment -->
            <h3>Leave a comment</h3>
            <%= render "comments/form", article: @article, comment: @comment %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 content-right">
      <div class="content-main">
        <div class="recent-post popular-post">
          <h3>RECENT POST</h3>
          <%= render Article.get_recent_posts %>
        </div>
        <div class="popular-post">
          <h3>POPULAR</h3>
          <%= render Article.get_top_popular_posts %>
        </div>

        <div class="all-tags">
          <h3>TAGS</h3>
          <%= render Tag.all %>
        </div>
      </div>
    </div>
  </div>
</div>
