<div class="container">
<div class="page-content">
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
          <!-- Main menu -->
          <li class="current">
            <a href="/admin">
              <i class="glyphicon glyphicon-book"></i>
              Articles</a>
          </li>
          <li>
            <a href="/admin/application/comments">
              <i class="glyphicon glyphicon-comment"></i>
              Comments</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading text-uppercase">Your comments</div>
            <div class="panel-body"></div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>Comment ON</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @comments.each do |comment| %>
                  <tr>
                    <td><%= comment.id %></td>
                    <td><%= comment.text %></td>
                    <td><%= link_to comment.article.title, comment.article %></td>
                    <td>
                      <%= link_to "", [comment.article, comment], method: :delete,
                                  data: {confirm: "Are you sure you want to delete this comment?"},
                                  class: "glyphicon glyphicon-trash"  %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<p id="notice" class="hidden"><%= notice %></p>
