<div class="container">
  <div class="page-content">
    <div class="row">
      <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
          <ul class="nav">
            <!-- Main menu -->
            <li class="current">
              <a href="/admin">
                <i class="glyphicon glyphicon-book"></i>
                Articles</a>
            </li>
            <li>
              <a href="/admin/application/comments">
                <i class="glyphicon glyphicon-comment"></i>
                Comments</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading text-uppercase">The Articles</div>
              <div class="panel-body">
                <%= link_to " New", new_article_path, class: "glyphicon glyphicon-plus" %>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Title</th>
                      <th>Date created</th>
                      <th>Edit</th>
                      <th>Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @articles.each do |article| %>
                    <tr>
                      <td><%= article.id %></td>
                      <td><%= link_to article.title, article %></td>
                      <td><%= article.created_at.strftime('%b %d, %Y') %></td>
                      <td><%= link_to "", edit_article_path(article), class: "glyphicon glyphicon-edit" %></td>
                      <td>
                        <%= link_to "", article, method: :delete,
                                    data: {confirm: "Are you sure you want to delete this article?"},
                                    class: "glyphicon glyphicon-trash"  %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<p id="notice" class="hidden"><%= notice %></p>
