/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "admin/application";

body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #f2f2f2;
}

img {
  @extend .img-responsive;
}

a,
h3 {
  font-style: normal;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto 25px;
}

.footer {
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  height: 50px;
}
// Personal

.title {
  text-transform: capitalize;
  font-weight: normal;
}

.link {
  @extend .title;
  border-bottom: 1px solid #a6aaae;
}

.popular-post {
  p {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}

.content-main {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
}

.content-main-post {
  border-bottom: 1px dotted #a6aaae;
}

.post-title {
  h1 {
    a {
      color: #000 !important;
      font-size: 29px;
      word-wrap: break-word;
      @extend .title;
    }
  }

  span {
    font-size: 12px;
    margin-right: 5px;
  }
}

.article-content,
.post-intro {
  a {
    border-radius: 20px;
  }
  word-wrap: break-word;
  margin-bottom: 5px;
}

.content-main-post {
  margin-bottom: 15px;
}
// USER
.form-user {
  padding: 10px 15px;
  background-color: #ccc;
}
// pagination
.pagination {
  .previous_page, .next_page {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

  .previous_page.disabled, .next_page.disabled {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }

  .current {
    text-decoration: underline;
  }
}
