<!--NavBar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/articles">Mrlonely</a>
    </div>

    <!-- link -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/articles">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <!-- Nav RIGHT -->
      <ul class="nav navbar-nav navbar-right">
        <!-- Form SEARCH-->
        <form action="<%= articles_path %>" method="get" class="navbar-form navbar-left search-form">
          <%= text_field_tag(:search, params[:search], placeholder: "Search",class: "form-control") %>
          <button type="submit" class="btn btn-default">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
        <!-- Admin page -->

        <!-- end FOMR -->
      <% unless user_signed_in? %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello
            <%= current_user.email %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Admin", admin_root_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <!-- end Nav RIGHT -->

    </div>

    <!-- end LINK -->
  </div>
  <!-- navbar collapse -->
</nav>
<!-- NavBar-->
