<!DOCTYPE html>
<html>
  <head>
    <title>Blog-PreWork</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/uploads/tmp/blogger.png" rel="shortcut icon" type="image/x-icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/navbar' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
